body{
    transition: 1s;
    background-color: #1F2937;
    font-family: 'Inter';
}

.lightMode{
    background-color:#ECFDF5;
    transition: 1s;
}


.header{
    //border: 3px solid red;
    display: inherit;
    text-align: right;
    margin-bottom: 5%;
}

.dmBulb{
    font-size: 32px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    color:white
}

.lmBulb{
    color: #1F2937;
}

.title{
    padding-left: 20%;
    line-height: 80%;
    margin-bottom: 5%;
    overflow: auto;
}

.passBut{
    background-color:#10B981;
    color: white;
    border: unset;
    border-radius: 6px;
    cursor: pointer;
    font-size:18px;
    padding: 1%;
    margin-left: 20%;

}

.line{
    border-top: 2px solid #2F3E53;
    margin-top:3%;
}

.boxContainer{
    padding-left: 20%;
    
}   

.box{
    margin-top:2%;
    margin-right: 2%;
    border: 4px solid #273549;
    background-color: #273549;
    border-radius: 4px;
    width: 13rem;
    height: 2rem;
    float:left;
    display: inherit;
    position: relative;
    text-align: center;
    color: #55F991;;
    font-size: 24px;
    cursor: pointer;
}

.dmfirstLine{
    color:white;
}

.lmfirstLine{
    color: black;
}